# Anomaly Detection

Anomaly detection is a process for identifying unexpected data, event or behavior that require some examination. It is a well-established field within data science and there is a large number of algorithms to detect anomalies in a dataset depending on data type and business context. 

### z-score
Z-score is probably the simplest algorithm that can rapidly screen candidates for further examination to determine whether they are suspicious or not.

### What is Z-score
Simply speaking, Z-score is a statistical measure that tells you how far is a data point from the rest of the dataset. In a more technical term, Z-score tells how many standard deviations away a given observation is from the mean.
For example, a Z score of 2.5 means that the data point is 2.5 standard deviation far from the mean. And since it is far from the center, itâ€™s flagged as an outlier/anomaly.

In [35]:
import pandas as pd
import numpy as np

from sklearn import metrics
from scipy.stats import zscore


import io
import requests
import os

from sklearn.model_selection import train_test_split
from sklearn import metrics

from pandas.api.types import is_string_dtype
from pandas.api.types import is_numeric_dtype

from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense, Activation
from tensorflow.keras.callbacks import EarlyStopping

## Data

In [36]:
from tensorflow.keras.utils import get_file

try:
    path = get_file('kddcup.data_10_percent.gz', origin=
    'http://kdd.ics.uci.edu/databases/kddcup99/kddcup.data_10_percent.gz')
except:
    print('Error downloading')
    raise
    
print(path)

/root/.keras/datasets/kddcup.data_10_percent.gz

In [37]:
df = pd.read_csv(path, header=None)
df.head()

   0    1     2   3    4     5   6   ...    35   36   37   38   39   40       41
0   0  tcp  http  SF  181  5450   0  ...  0.11  0.0  0.0  0.0  0.0  0.0  normal.
1   0  tcp  http  SF  239   486   0  ...  0.05  0.0  0.0  0.0  0.0  0.0  normal.
2   0  tcp  http  SF  235  1337   0  ...  0.03  0.0  0.0  0.0  0.0  0.0  normal.
3   0  tcp  http  SF  219  1337   0  ...  0.03  0.0  0.0  0.0  0.0  0.0  normal.
4   0  tcp  http  SF  217  2032   0  ...  0.02  0.0  0.0  0.0  0.0  0.0  normal.

[5 rows x 42 columns]

In [38]:
df.columns = [
    'duration',
    'protocol_type',
    'service',
    'flag',
    'src_bytes',
    'dst_bytes',
    'land',
    'wrong_fragment',
    'urgent',
    'hot',
    'num_failed_logins',
    'logged_in',
    'num_compromised',
    'root_shell',
    'su_attempted',
    'num_root',
    'num_file_creations',
    'num_shells',
    'num_access_files',
    'num_outbound_cmds',
    'is_host_login',
    'is_guest_login',
    'count',
    'srv_count',
    'serror_rate',
    'srv_serror_rate',
    'rerror_rate',
    'srv_rerror_rate',
    'same_srv_rate',
    'diff_srv_rate',
    'srv_diff_host_rate',
    'dst_host_count',
    'dst_host_srv_count',
    'dst_host_same_srv_rate',
    'dst_host_diff_srv_rate',
    'dst_host_same_src_port_rate',
    'dst_host_srv_diff_host_rate',
    'dst_host_serror_rate',
    'dst_host_srv_serror_rate',
    'dst_host_rerror_rate',
    'dst_host_srv_rerror_rate',
    'outcome'
]

In [39]:
df.head()

   duration protocol_type  ... dst_host_srv_rerror_rate  outcome
0         0           tcp  ...                      0.0  normal.
1         0           tcp  ...                      0.0  normal.
2         0           tcp  ...                      0.0  normal.
3         0           tcp  ...                      0.0  normal.
4         0           tcp  ...                      0.0  normal.

[5 rows x 42 columns]

### Save the modified dataset:

In [40]:
#df.to_csv('KDD99_dataset.csv')

In [41]:
df.columns

Index(['duration', 'protocol_type', 'service', 'flag', 'src_bytes',
       'dst_bytes', 'land', 'wrong_fragment', 'urgent', 'hot',
       'num_failed_logins', 'logged_in', 'num_compromised', 'root_shell',
       'su_attempted', 'num_root', 'num_file_creations', 'num_shells',
       'num_access_files', 'num_outbound_cmds', 'is_host_login',
       'is_guest_login', 'count', 'srv_count', 'serror_rate',
       'srv_serror_rate', 'rerror_rate', 'srv_rerror_rate', 'same_srv_rate',
       'diff_srv_rate', 'srv_diff_host_rate', 'dst_host_count',
       'dst_host_srv_count', 'dst_host_same_srv_rate',
       'dst_host_diff_srv_rate', 'dst_host_same_src_port_rate',
       'dst_host_srv_diff_host_rate', 'dst_host_serror_rate',
       'dst_host_srv_serror_rate', 'dst_host_rerror_rate',
       'dst_host_srv_rerror_rate', 'outcome'],
      dtype='object')

In [42]:
df.shape

(494021, 42)

## Data Analysis

In [43]:
df.isnull().sum()

duration                       0
protocol_type                  0
service                        0
flag                           0
src_bytes                      0
dst_bytes                      0
land                           0
wrong_fragment                 0
urgent                         0
hot                            0
num_failed_logins              0
logged_in                      0
num_compromised                0
root_shell                     0
su_attempted                   0
num_root                       0
num_file_creations             0
num_shells                     0
num_access_files               0
num_outbound_cmds              0
is_host_login                  0
is_guest_login                 0
count                          0
srv_count                      0
serror_rate                    0
srv_serror_rate                0
rerror_rate                    0
srv_rerror_rate                0
same_srv_rate                  0
diff_srv_rate                  0
srv_diff_host_rate             0
dst_host_count                 0
dst_host_srv_count             0
dst_host_same_srv_rate         0
dst_host_diff_srv_rate         0
dst_host_same_src_port_rate    0
dst_host_srv_diff_host_rate    0
dst_host_serror_rate           0
dst_host_srv_serror_rate       0
dst_host_rerror_rate           0
dst_host_srv_rerror_rate       0
outcome                        0
dtype: int64

### analyze_column()
Since, there are a lot of columns to understand we are building as custom function

This function takes a column name (in quotes eg. 'column name')

And, returns:
- A sample of the data.
- If the column's data is Numerical or String.
- Types of categories.
- Count of all the categories.

With this function we can easily analyse all the columns and understand the data.

In [44]:
def analyze_column(col):
  
  categories = df[col].unique()
  count = df[col].value_counts()
  ucount = df[col].nunique()

  print(df[col].sample(10))
  if is_numeric_dtype(df[col]) == True:
    print("\n\n\nNumeric DataType")
  elif is_string_dtype(df[col]) == True:
    print("\n\n\nString DataType")
  else:
    print("Unknown Datatype")

  print("\n\n\nCategories:",categories)
  print("\n\n\nNumber of Categories:",ucount)
  print("\nCounts:\n",count)

In [45]:
analyze_column('num_file_creations')

370527    0
278580    0
476070    0
229961    0
136647    0
314089    0
319715    0
416625    0
441253    0
339780    0
Name: num_file_creations, dtype: int64



Numeric DataType



Categories: [ 0  1  2  4 15  9 16 28 10 21 14  5  7  8 12 25 22 20]



Number of Categories: 18

Counts:
 0     493756
1        207
2         36
4          7
16         2
9          1
5          1
7          1
8          1
28         1
25         1
12         1
14         1
15         1
20         1
21         1
22         1
10         1
Name: num_file_creations, dtype: int64

In [46]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 494021 entries, 0 to 494020
Data columns (total 42 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   duration                     494021 non-null  int64
 1   protocol_type                494021 non-null  object
 2   service                      494021 non-null  object
 3   flag                         494021 non-null  object
 4   src_bytes                    494021 non-null  int64
 5   dst_bytes                    494021 non-null  int64
 6   land                         494021 non-null  int64
 7   wrong_fragment               494021 non-null  int64
 8   urgent                       494021 non-null  int64
 9   hot                          494021 non-null  int64
 10  num_failed_logins            494021 non-null  int64
 11  logged_in                    494021 non-null  int64
 12  num_compromised              494021 non-null  int64
 13  root_shell                   494021 non-null  int64
 14  su_attempted                 494021 non-null  int64
 15  num_root                     494021 non-null  int64
 16  num_file_creations           494021 non-null  int64
 17  num_shells                   494021 non-null  int64
 18  num_access_files             494021 non-null  int64
 19  num_outbound_cmds            494021 non-null  int64
 20  is_host_login                494021 non-null  int64
 21  is_guest_login               494021 non-null  int64
 22  count                        494021 non-null  int64
 23  srv_count                    494021 non-null  int64
 24  serror_rate                  494021 non-null  float64
 25  srv_serror_rate              494021 non-null  float64
 26  rerror_rate                  494021 non-null  float64
 27  srv_rerror_rate              494021 non-null  float64
 28  same_srv_rate                494021 non-null  float64
 29  diff_srv_rate                494021 non-null  float64
 30  srv_diff_host_rate           494021 non-null  float64
 31  dst_host_count               494021 non-null  int64
 32  dst_host_srv_count           494021 non-null  int64
 33  dst_host_same_srv_rate       494021 non-null  float64
 34  dst_host_diff_srv_rate       494021 non-null  float64
 35  dst_host_same_src_port_rate  494021 non-null  float64
 36  dst_host_srv_diff_host_rate  494021 non-null  float64
 37  dst_host_serror_rate         494021 non-null  float64
 38  dst_host_srv_serror_rate     494021 non-null  float64
 39  dst_host_rerror_rate         494021 non-null  float64
 40  dst_host_srv_rerror_rate     494021 non-null  float64
 41  outcome                      494021 non-null  object
dtypes: float64(15), int64(23), object(4)
memory usage: 158.3+ MB

### Encoding features
From the insights drawn by alaysis of the columns individually, we decide to convert some columns to Z-scores and others to a One Hot Encoding.

In [47]:
def encode_numeric_zscore(df, name, mean=None, sd=None):
    if mean is None:
        mean = df[name].mean()

    if sd is None:
        sd = df[name].std()

    df[name] = (df[name] - mean) / sd



def encode_text_dummy(df, name):
    dummies = pd.get_dummies(df[name])
    for x in dummies.columns:
        dummy_name = f"{name}-{x}"
        df[dummy_name] = dummies[x]
    df.drop(name, axis=1, inplace=True)

In [50]:
encode_text_dummy(df, 'protocol_type')
encode_text_dummy(df, 'service')
encode_text_dummy(df, 'flag')
encode_text_dummy(df, 'land')
encode_text_dummy(df, 'logged_in')
encode_text_dummy(df, 'is_host_login')
encode_text_dummy(df, 'is_guest_login')



encode_numeric_zscore(df, 'duration')
encode_numeric_zscore(df, 'src_bytes')
encode_numeric_zscore(df, 'dst_bytes')
encode_numeric_zscore(df, 'wrong_fragment')
encode_numeric_zscore(df, 'urgent')
encode_numeric_zscore(df, 'hot')
encode_numeric_zscore(df, 'num_failed_logins')
encode_numeric_zscore(df, 'num_compromised')
encode_numeric_zscore(df, 'root_shell')
encode_numeric_zscore(df, 'su_attempted')
encode_numeric_zscore(df, 'num_root')
encode_numeric_zscore(df, 'num_file_creations')
encode_numeric_zscore(df, 'num_shells')
encode_numeric_zscore(df, 'num_access_files')
encode_numeric_zscore(df, 'num_outbound_cmds')
encode_numeric_zscore(df, 'count')
encode_numeric_zscore(df, 'srv_count')
encode_numeric_zscore(df, 'serror_rate')
encode_numeric_zscore(df, 'srv_serror_rate')
encode_numeric_zscore(df, 'rerror_rate')
encode_numeric_zscore(df, 'srv_rerror_rate')
encode_numeric_zscore(df, 'same_srv_rate')
encode_numeric_zscore(df, 'diff_srv_rate')
encode_numeric_zscore(df, 'srv_diff_host_rate')
encode_numeric_zscore(df, 'dst_host_count')
encode_numeric_zscore(df, 'dst_host_srv_count')
encode_numeric_zscore(df, 'dst_host_same_srv_rate')
encode_numeric_zscore(df, 'dst_host_diff_srv_rate')
encode_numeric_zscore(df, 'dst_host_same_src_port_rate')
encode_numeric_zscore(df, 'dst_host_srv_diff_host_rate')
encode_numeric_zscore(df, 'dst_host_serror_rate')
encode_numeric_zscore(df, 'dst_host_srv_serror_rate')
encode_numeric_zscore(df, 'dst_host_rerror_rate')
encode_numeric_zscore(df, 'dst_host_srv_rerror_rate')

In [51]:
df.head()

   duration  src_bytes  ...  is_guest_login-0  is_guest_login-1
0 -0.067792  -0.002879  ...                 1                 0
1 -0.067792  -0.002820  ...                 1                 0
2 -0.067792  -0.002824  ...                 1                 0
3 -0.067792  -0.002840  ...                 1                 0
4 -0.067792  -0.002842  ...                 1                 0

[5 rows x 122 columns]

In [52]:
df.dropna(inplace=True,axis=1)

In [53]:
# Convert to numpy - Classification
x_columns = df.columns.drop('outcome')
x = df[x_columns].values

dummies = pd.get_dummies(df['outcome']) # Classification
outcomes = dummies.columns
num_classes = len(outcomes)

y = dummies.values

In [54]:
df.groupby('outcome')['outcome'].count()

outcome
back.                 2203
buffer_overflow.        30
ftp_write.               8
guess_passwd.           53
imap.                   12
ipsweep.              1247
land.                   21
loadmodule.              9
multihop.                7
neptune.            107201
nmap.                  231
normal.              97278
perl.                    3
phf.                     4
pod.                   264
portsweep.            1040
rootkit.                10
satan.                1589
smurf.              280790
spy.                     2
teardrop.              979
warezclient.          1020
warezmaster.            20
Name: outcome, dtype: int64

## Neural Network

In [55]:
x_train, x_test, y_train, y_test = train_test_split(x, y, test_size=0.2, random_state=42)

# Create neural net
model = Sequential()
model.add(Dense(10, input_dim=x.shape[1], activation='relu'))
model.add(Dense(50, input_dim=x.shape[1], activation='relu'))
model.add(Dense(10, input_dim=x.shape[1], activation='relu'))

model.add(Dense(1, kernel_initializer='normal'))

model.add(Dense(y.shape[1],activation='softmax'))

model.compile(loss='categorical_crossentropy',metrics=['accuracy'], optimizer='adam')
monitor = EarlyStopping(monitor='val_loss', min_delta=1e-3, patience=5, verbose=1, mode='auto',restore_best_weights=True)
model.fit(x_train,y_train,validation_data=(x_test,y_test), callbacks=[monitor],verbose=2,epochs=100)

Epoch 1/100
12351/12351 - 32s - loss: 0.1461 - accuracy: 0.9654 - val_loss: 0.0661 - val_accuracy: 0.9831
Epoch 2/100
12351/12351 - 29s - loss: 0.0537 - accuracy: 0.9866 - val_loss: 0.0489 - val_accuracy: 0.9895
Epoch 3/100
12351/12351 - 29s - loss: 0.0472 - accuracy: 0.9895 - val_loss: 0.0471 - val_accuracy: 0.9890
Epoch 4/100
12351/12351 - 29s - loss: 0.0433 - accuracy: 0.9904 - val_loss: 0.0466 - val_accuracy: 0.9902
Epoch 5/100
12351/12351 - 29s - loss: 0.0414 - accuracy: 0.9907 - val_loss: 0.0407 - val_accuracy: 0.9901
Epoch 6/100
12351/12351 - 29s - loss: 0.0385 - accuracy: 0.9912 - val_loss: 0.0373 - val_accuracy: 0.9921
Epoch 7/100
12351/12351 - 29s - loss: 0.0387 - accuracy: 0.9922 - val_loss: 0.0353 - val_accuracy: 0.9929
Epoch 8/100
12351/12351 - 28s - loss: 0.0368 - accuracy: 0.9925 - val_loss: 0.0354 - val_accuracy: 0.9926
Epoch 9/100
12351/12351 - 28s - loss: 0.0416 - accuracy: 0.9928 - val_loss: 0.0365 - val_accuracy: 0.9922
Epoch 10/100
12351/12351 - 28s - loss: 0.0365 - accuracy: 0.9929 - val_loss: 0.0363 - val_accuracy: 0.9930
Epoch 11/100
12351/12351 - 28s - loss: 0.0336 - accuracy: 0.9930 - val_loss: 0.0324 - val_accuracy: 0.9932
Epoch 12/100
12351/12351 - 28s - loss: 0.0329 - accuracy: 0.9931 - val_loss: 0.0379 - val_accuracy: 0.9931
Epoch 13/100
12351/12351 - 28s - loss: 0.0327 - accuracy: 0.9932 - val_loss: 0.0350 - val_accuracy: 0.9932
Epoch 14/100
12351/12351 - 28s - loss: 0.0320 - accuracy: 0.9935 - val_loss: 0.0326 - val_accuracy: 0.9930
Epoch 15/100
12351/12351 - 27s - loss: 0.0322 - accuracy: 0.9936 - val_loss: 0.0338 - val_accuracy: 0.9934
Epoch 16/100
12351/12351 - 27s - loss: 0.0317 - accuracy: 0.9940 - val_loss: 0.0335 - val_accuracy: 0.9933
Restoring model weights from the end of the best epoch.
Epoch 00016: early stopping

In [56]:
# Measure accuracy
pred = model.predict(x_test)
pred = np.argmax(pred,axis=1)
y_eval = np.argmax(y_test,axis=1)
score = metrics.accuracy_score(y_eval, pred)
print("Validation score: {}".format(score))

Validation score: 0.9931886038155964

## Model Pickle

In [57]:
model.save("zscore_ANN.h5")